<!--  Main Site  -->
<div class="prose flex flex-col items-center max-w-full">
    <h1 class="text-primary text-5xl mt-4 mb-2">
        Stable Diffusion Models
    </h1>
    <h2 class="text-secondary text-3xl mt-0 mb-4">
        Models for image generation with
        Stable Diffusion
    </h2>

    <!-- Description -->
    <div class="flex flex-col max-w-full pt-4 justify-center items-center">
        <div class="flex flex-col items-center w-9/12">
            <div class="text-write text-primary-content/50 bg-primary
                shadow-2xl w-8/10 px-4 mb-8 rounded-box border-2
                border-primary-content/20"
            >
                <h3 class="text-2xl mt-4 mb-2 text-primary-content/50">Lorem Ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    nec purus nec nunc tincidunt aliquam. Nullam nec purus nec nunc
                    tincidunt aliquam. Nullam nec purus nec nunc tincidunt aliquam.
                </p>

                <h3 class="text-2xl mt-4 mb-2 text-primary-content/50">Lorem Ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    nec purus nec nunc tincidunt aliquam. Nullam nec purus nec nunc
                    tincidunt aliquam. Nullam nec purus nec nunc tincidunt aliquam.
                </p>

                <h3 class="text-2xl mt-4 mb-2 text-primary-content/50">Lorem Ipsum</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam
                    nec purus nec nunc tincidunt aliquam. Nullam nec purus nec nunc
                    tincidunt aliquam. Nullam nec purus nec nunc tincidunt aliquam.
                </p>
            </div>
        </div>
    </div>
</div>
