<div class="prose flex flex-col items-center max-w-full">
    <h1 class="text-primary text-5xl mt-4 mb-2">
        Stable Diffusion Models
    </h1>
    <h2 class="text-secondary text-3xl mt-0 mb-4">
        All models added to the site
    </h2>
</div>

<!--<img src="{{formData.selectedImg}}" alt="Image" class="w-1/2 mx-auto mb-4">-->
<p>Name: {{ formData.name }}</p>
<p>Description: {{ formData.description }}</p>
<p>Author: {{ formData.author }}</p>
<p>Type: {{ formData.type }}</p>
<p>Base: {{ formData.base }}</p>
<p>License: {{ formData.license }}</p>
<!--<p>File: {{ formData.modelFile }}</p>-->
<!--<p>File: <a href="{{ formData.modelFile }}" target="_blank" class="text-primary underline">Download</a></p>-->
