<!--  Main Site  -->
<div class="prose flex flex-col items-center max-w-full">
    <h1 class="text-primary text-5xl mt-4 mb-2">
        Stable Diffusion
    </h1>
    <h2 class="text-secondary text-3xl mt-0 mb-4">
        Generative image using Artificial Intelligence
    </h2>

    <!-- Description -->
    <div class="flex flex-col max-w-full pt-4
        justify-center items-center"
    >
        <div class="flex flex-row items-center w-9/12 space-x-6">

            <!-- Stable Diffusion Info -->
            <div class="text-write bg-primary shadow-2xl w-8/10
                 px-4 mb-8 rounded-box border-2
                 border-primary-content/20"
            >

                <p>
                    <b>Stable Diffusion</b> is an open-source
                    <i>artificial intelligence model</i> designed to
                    generate images from <b>natural text</b>.
                </p>
                <p>
                    In other words, users can provide a request using
                    <b>natural language</b>, and the <i>AI interprets
                    and generates</i> an image that
                    <b>reflects</b> that request.
                </p>
                <p>
                    It's a <b>powerful tool</b> for <i>generating images</i>
                    from <b>text</b> or <b>image to image</b> with a big
                    <i>community</i>, growing really <b>fast</b>.
                </p>
                <p>
                    It's a great <b>tool</b> for <i>artists</i>,
                    <i>designers</i>, and <i>developers</i> who want to
                    <b>create images</b> from <i>text</i> or <i>refine</i>
                    existing images.
                </p>

                <p class="flex justify-center items-center bg-primary
                    max-w-full text-lg text-primary-content/40
                    text-center space-x-1.5">More information on
                    <a class="no-prose text-primary-content/40
                        hover:text-primary-content/20" href="https://stability.ai/"
                    >
                        <span class="mx-1"><b>Stability.AI</b></span>
                    </a>
                </p>
            </div>

            <!-- Key Points -->
            <div class="text-write bg-secondary shadow-2xl w-8/12
                     px-4 mb-8 p-4 rounded-box border-2
                      border-secondary-content/20"
            >
                This are the <b>key points</b> about
                <b>Stable Diffusion</b>:

                <ul class="mt-0">
                    <li>
                        <b>Open-source</b> AI model.
                    </li>
                    <li>
                        Generates images from <b>natural text</b>.
                    </li>
                    <li>
                        <i>Powerful tool</i> for <b>artists</b>,
                        <b>designers</b>, and <b>developers</b>.
                    </li>
                    <li>
                        <b>Community</b> is growing really fast.
                    </li>
                    <li>
                        Fast <b>development</b> on technology
                        in a short time period of time
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
