<div class="prose flex flex-col items-center max-w-full">
    <!-- region Title -->
    <h1 class="text-primary text-5xl mt-4 mb-2">
        Add new Stable Diffusion Model
    </h1>
    <h2 class="text-secondary text-3xl mt-0 mb-4">
        Complete this form to add a new model on the site
    </h2>
    <!-- endregion Title -->

    <!-- region Form -->
    <div class="text-write w-8/12 p-4 bg-base-100">
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="border-2 border-secondary-content/20
                p-4 rounded-box bg-secondary/70"
            >
                <!-- region Model Data -->
                <div class="flex flex-row justify-center items-center
                    space-x-1.5 mb-2"
                >
                    <!-- Model name -->
                    <input
                            required
                            type="text"
                            formControlName="modelName"
                            placeholder="Model name"
                            class="input input-secondary focus:select-primary
                                border-4 mb-2 border-secondary"
                    />
                    <!-- Model Description -->
                    <input
                            type="text"
                            formControlName="modelDescription"
                            placeholder="Description"
                            class="input input-secondary focus:select-primary
                                 border-4 mb-2 border-secondary"
                    />
                    <!-- Model Author -->
                    <input
                            type="text"
                            formControlName="modelAuthor"
                            placeholder="Author"
                            class="input input-secondary focus:select-primary
                                border-4 mb-2 border-secondary"
                    />
                </div>
                <!-- endregion -->

                <!-- region Select Models -->
                <div class="flex flex-row justify-center items-center
                    space-x-5 mb-2"
                >
                    <select
                            required
                            formControlName="modelType"
                            class="select select-secondary focus:select-primary
                                border-4 border-secondary
                                text-write w-full max-w-xs mb-2"
                    >
                        <option disabled [value]="null">
                            Select model type
                        </option>
                        <option>Checkpoint</option>
                        <option>Embedding</option>
                        <option>Hypernetwork</option>
                        <option>Aesthetic Gradient</option>
                        <option>LoRa</option>
                        <option>LyCORIS</option>
                        <option>DoRa</option>
                        <option>Controlnet</option>
                        <option>Upscaler</option>
                        <option>Motion</option>
                        <option>VAE</option>
                        <option>Poses</option>
                        <option>Wildcards</option>
                        <option>Workflows</option>
                    </select>

                    <select
                            required
                            formControlName="modelBase"
                            class="select select-secondary focus:select-primary
                                border-4 border-secondary
                                text-write w-full max-w-xs mb-2"
                    >
                        <option disabled [value]="null">
                            Select base model
                        </option>
                        <option>SD 1.5</option>
                        <option>SD 2.0</option>
                        <option>SDXL 1.0</option>
                        <option>Pony</option>
                        <option>PixArt A</option>
                    </select>
                </div>
                <!-- endregion -->

                <!-- region Checkbox Models -->
                <div class="flex flex-col justify-center items-center
                    form-control space-x-1.5 mb-4"
                >
                    <div class="flex flex-col justify-center items-center p-4
                        border-2 rounded-box border-primary-content/20
                        bg-primary"
                    >
                        <p>
                            Select your <b>choices</b> regarding the
                            <b>license</b> of the model
                        </p>

                        <div
                                formArrayName="modelLicense"
                                class="flex flex-row"
                        >
                            <label class="cursor-pointer label">
                                <span class="label-text mr-2 text-write font-bold">
                                    Credit
                                </span>

                                <input
                                        type="checkbox" [formControlName]="0"
                                        class="checkbox"
                                />
                            </label>

                            <label class="cursor-pointer label">
                                <span class="label-text text-write font-bold mr-2">
                                    Selling images
                                </span>

                                <input
                                        type="checkbox" [formControlName]="1"
                                        class="checkbox"
                                />
                            </label>

                            <label class="cursor-pointer label">
                                <span class="label-text text-write font-bold mr-2">
                                    Generation services
                                </span>

                                <input
                                        type="checkbox" [formControlName]="2"
                                        class="checkbox"
                                />
                            </label>

                            <label class="cursor-pointer label">
                                <span class="label-text text-write font-bold mr-2">
                                    Selling model
                                </span>

                                <input
                                        type="checkbox" [formControlName]="3"
                                        class="checkbox"
                                />
                            </label>
                        </div>
                    </div>
                </div>
                <!-- endregion -->
            </div>

            <!-- region File Models -->
            <div class="flex flex-row space-x-4 justify-center
                items-center my-4"
            >
                <!-- Upload Model -->
                <div class="flex flex-col justify-center items-center
                    rounded-box px-4 border-2
                    border-primary-content/20 bg-primary/70"
                >
                    <p>
                        Upload <b>model</b> file:
                    </p>

                    <input
                            required
                            type="file"
                            (change)="onFileSelected($event)"
                            class="file-input file-input-bordered file-input-accent
                                w-full max-w-xs mb-4 border-2 border-success
                                text-write hover:file-input-success"
                            accept=".zip, .rar, .7z, .tar.gz, .tar.bz2, .tar.xz, .tar"
                            name="modelFile"
                    />

                    <p class="mt-0">
                        <b>.zip, .rar, .7z, .tar.gz, .tar.bz2, .tar.xz, .tar</b>
                    </p>
                </div>

                <!-- Upload Image -->
                <div class="flex flex-col justify-center items-center
                    rounded-box px-4 border-2
                    border-secondary-content/20 bg-secondary/70"
                >
                    <p>
                        Upload <b>image</b> preview:
                    </p>

                    <input
                            required
                            type="file"
                            (change)="onImgSelected($event)"
                            class="file-input file-input-bordered file-input-accent
                                w-full max-w-xs mb-4 border-2 border-success
                                text-write hover:file-input-success"
                            accept=".png, .jpg, .jpeg, .webp, .svg"
                            name="modelImg"
                    />

                    <p class="mt-0">
                        <b>.png, .jpg, .jpeg, .webp, .svg</b>
                    </p>
                </div>
            </div>
            <!-- endregion -->

            <div class="flex flex-row justify-center items-center">
                <button
                        type="submit" [disabled]="!form.valid"
                        class="btn bg-accent font-bold text-success
                            border-b-2 border-success hover:text-accent
                            hover:bg-success hover:border-accent"
                >
                    UPLOAD MODEL
                </button>
            </div>

            @if (form.invalid) {
                <div class="alert alert-error mt-4">
                    <div class="flex-1">
                        <svg
                                xmlns="http://www.w3.org/2000/svg"
                                class="h-6 w-6"
                                fill="none"
                                viewBox="0 0 24 24"
                                stroke="currentColor"
                        >
                            <path
                                    stroke-linecap="round"
                                    stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M6 18L18 6M6 6l12 12"
                            />
                        </svg>
                    </div>

                    <div class="flex-1">
                        <p>
                            Please fill all the required fields before
                            submitting the form
                        </p>
                    </div>
                </div>
            }
        </form>
    </div>
    <!-- endregion -->
</div>
